div#avatar {
	width: 800px;
	height: 400px;
	background-color: rgb(251, 213, 43);
}

div#avatar #canvasPanel {
	float: left;
	width: 350px;
}

div#avatar .tool-wrapper {
	height: 40px;
	line-height: 40px;
	padding: 5px;
	background-color: #F1EEEE;
}

div#avatar #myCanvas {
	background-color: white;
}

div#avatar .btn-default {
	display: inline-block;
	background-color: #fff;
	margin-bottom: 0;
	border: 1px solid #ccc;
	font-size: 16px;
    line-height: 1.5;
}

div#avatar .btn-default:hover {
	background-color: #e6e6e6;
	border-color: #adadad;
	cursor: pointer;
}

div#avatar .avatar-objekt {
	max-width: 60px;
}

div#avatar .avatar-objekt:hover {
	cursor: pointer;
}

div#avatar .objekty {
	padding: 20px;
	float: right;
	width: 410px;
}

#avatarResultMessage {
	margin-top: 10px;
}

#avatarResultMessage .errorMessage {
	color: red;
}

#avatarResultMessage .successMessage {
	color: green;
}

#avatarAdminIndex button {
	margin-bottom: 10px;
}

#avatarZoznamTem {
	margin: 0;
}

.zoznamTem, .zoznamAvatarov {
	margin-top: 10px;
	width: 100%;
	height: 230px;
	overflow-x: auto;
  white-space: nowrap;
}

.zoznamAvatarov {
  height: 430px;
}

.avatarAdminThemesMain input {
  margin-bottom: 10px;
}

ul.thumbnails.image_picker_selector {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px; }
  ul.thumbnails.image_picker_selector ul {
    overflow: auto;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0px;
    margin: 0px; }
  ul.thumbnails.image_picker_selector li.group_title {
    float: none; }
  ul.thumbnails.image_picker_selector li {
  	display:inline-block;
    margin: 0px 12px 12px 0px;
    float: left; }
  ul.thumbnails.image_picker_selector li:hover {
  	cursor: pointer;
  }
    ul.thumbnails.image_picker_selector li .thumbnail {
      padding: 6px;
      border: 3px solid #dddddd;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none; }
      ul.thumbnails.image_picker_selector li .thumbnail img {
        -webkit-user-drag: none; }
    ul.thumbnails.image_picker_selector li .thumbnail.selected {
      background: #fbd52b; }