div#avatar {
	width: 800px;
	height: 400px;
	background-color: rgb(251, 213, 43);
}

div#avatar #canvasPanel {
	float: left;
	width: 350px;
}

div#avatar .tool-wrapper {
	height: 40px;
	line-height: 40px;
	padding: 5px;
	background-color: #F1EEEE;
}

div#avatar #myCanvas {
	background-color: white;
}

div#avatar .btn-default {
	display: inline-block;
	background-color: #fff;
	margin-bottom: 0;
	border: 1px solid #ccc;
  margin-top: 3px;
}

div#avatar .btn-default:hover {
	background-color: #e6e6e6;
	border-color: #adadad;
	cursor: pointer;
}

div#avatar .avatar-objekt {
	max-width: 60px;
}

div#avatar .avatar-objekt:hover {
	cursor: pointer;
}

div#avatar .objekty {
	padding: 20px;
	float: right;
	width: 410px;
}

.avatarMain input[type="button"] {
  margin-left: 5px;
}

.avatarTlacidlo {
  -moz-box-shadow: 0px 1px 0px 0px #fff6af;
  -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
  box-shadow: 0px 1px 0px 0px #fff6af;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
  background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
  background-color:#ffec64;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #ffaa22;
  display:inline-block;
  cursor:pointer;
  color:#333333;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffee66;
}

.avatarTlacidlo:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
  background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
  background-color:#ffab23;
}

#avatarResultMessage {
	margin-top: 10px;
}

#avatarResultMessage .errorMessage {
	color: red;
}

#avatarResultMessage .successMessage {
	color: green;
}

#avatarAdminIndex button {
	margin-bottom: 10px;
}

#avatarZoznamTem {
	margin: 0;
}

.zoznamTem, .zoznamAvatarov {
	margin-top: 10px;
	width: 100%;
	height: 230px;
	overflow-x: auto;
  white-space: nowrap;
}

.zoznamAvatarov {
  height: 430px;
}

.avatarAdminThemesMain input {
  margin-bottom: 10px;
}

ul.thumbnails.image_picker_selector {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px; }
  ul.thumbnails.image_picker_selector ul {
    overflow: auto;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0px;
    margin: 0px; }
  ul.thumbnails.image_picker_selector li.group_title {
    float: none; }
  ul.thumbnails.image_picker_selector li {
  	display:inline-block;
    margin: 0px 12px 12px 0px;
    float: left; }
  ul.thumbnails.image_picker_selector li:hover {
  	cursor: pointer;
  }
    ul.thumbnails.image_picker_selector li .thumbnail {
      padding: 6px;
      border: 3px solid #dddddd;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none; }
      ul.thumbnails.image_picker_selector li .thumbnail img {
        -webkit-user-drag: none; }
    ul.thumbnails.image_picker_selector li .thumbnail.selected {
      background: #fbd52b; }